.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-item-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-right: 40px;
}

.header-item{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.header-item:hover{
    color: rgba(255, 255, 255, 0.8);
}